.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;
  box-shadow: 0 0 8px 1px rgb(0 0 0 / 20%);
  z-index: 1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  padding-bottom: 3px;
  margin-bottom: -4px;
}

.linkDef {
  padding: 0 8px;
}
