.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;
  box-shadow: 0 0 8px 1px rgb(0 0 0 / 20%);
  z-index: 1;
  background: var(--header-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  padding-bottom: 3px;
  margin-bottom: -4px;
}

.linkDef {
  padding: 0 8px;
}
.linkActive {
  border-bottom: 1px solid var(--link-color-active);
  transition: border-color 0.4s ease;
}
.linkColor {
  border-bottom: 1px solid var(--link-color);

  &:hover {
    border-bottom: 1px solid var(--link-color-hover);
  }
}
