@use '../../styles/grid';

.contact {
  padding: 0 0 16px 0;
}
.contactIco {
  margin-right: 8px;
}
.contactCopyIco {
  margin-left: 24px;
  cursor: pointer;
  @media (max-width: 1562px) and (min-width: grid.$media-notebook +1px) {
    padding-top: 8px;
  }
  @media (max-width: 962px) and (min-width: 886px) {
    padding-top: 8px;
  }
  @media (max-width: 762px) and (min-width: 681px) {
    padding-top: 8px;
  }

  @media (max-width: 298px) {
    padding-top: 8px;
  }
}
