@use '../../styles/grid';

.contact {
  padding: 0 0 16px 0;
}
.contactIco {
  margin-right: 8px;
}
.contactCopyIco {
  margin-left: 24px;
  cursor: pointer;

  @media (max-width: grid.$media-phone) {
    padding-top: 8px;
  }
}
