@use '../../styles/grid';

.photoBlock {
  width: 40%;

  @media (max-width: grid.$media-tablet) {
    width: 60%;
    margin: 0 auto;
  }
  @media (max-width: grid.$media-pre-phone) {
    width: 100%;
  }
}

.nameBlock {
  width: 60%;

  @media (max-width: grid.$media-tablet) {
    width: 100%;
  }
}

.section {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: grid.$media-tablet) {
    display: block;
  }
  @media (max-width: grid.$media-pre-phone) {
    margin: 20px 0 40px 0;
  }
}

.photo {
  width: 50%;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}

.textCenter {
  text-align: center;
}

.aboutMe {
  padding-top: 16px;
}
.profession {
  font-weight: 300;
}
