@use '../../styles/grid';

.photoBlock {
  width: 40%;

  @media (max-width: grid.$media-phone) {
    width: 100%;
  }
}

.nameBlock {
  width: 60%;

  @media (max-width: grid.$media-phone) {
    width: 100%;
  }
}

.section {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: grid.$media-phone) {
    display: block;
  }
}

.photo {
  width: 50%;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}

.textCenter {
  text-align: center;
}

.aboutMe {
  padding-top: 16px;
}
