@use './grid';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.container {
  padding: 0 15px;
  margin: 0 400px;
  @media (max-width: grid.$media-notebook) {
    margin: 0 200px;
  }
  @media (max-width: grid.$media-pre-notebook) {
    margin: 0;
  }
}
