:root {
  --color-green-07: #107010;
  --color-green-04: #87c187;
  --color-green-05: #3fb53f;
  --color-gray-04: rgba(0, 0, 0, 0.6);
  --color-black: #0f1114;
  --color-white: white;

  --main-background: var(--color-white);
  --main-text-color: var(--color-black);
  --color-dot: var(--color-green-07);
  --header-color: var(--color-white);
  --slider-shadow: var(--color-green-05);
  --link-color-active: var(--color-black);
  --link-color: var(--color-white);
  --link-color-hover: var(--color-black);
  --date-color: var(--color-gray-04);
  --gradient-color-1: rgb(255, 255, 255);
  --gradient-color-2: var(--color-green-04);
  --gradient-color-3: var(--color-green-07);
}
